@import url(http://fonts.googleapis.com/css?family=Lato:300);

body {
	background-color: #FFFFFF;
	text-align: center;
	font-family: "Lato", Arial;
	font-size: 14px;
	line-height:16px;
}

hr{
   border: 1px solid #FFFFFF;
}

a:link{
	color:#0055CC;
}
a:visited{
		color:#990099;
}
a:hover{
		color:#CC0000;
}

